<%- include("partials/header.ejs") %>
    <section class="hero">
        <h1>Rick and Morty</h1>
    </section>
    <section id="characters" class="characters">
        <div class="character-page">
            <h2>Characters</h2>
            <div class="character-container">
                <% if(locals.characters) {%>
                    <% characters.forEach(function(character) { %>
                        <a href="/character/<%= character.id %>">
                            <div class="character-card">
                                <img src="<%= character.image %>" alt="<%= character.name %>" class="character-image">
                                <div class="character-text">
                                    <h3 class="name"><%= character.name %></h3>
                                    <p class="character-citation"><%= character.location.name %></p>
                                </div>
                            </div>
                        </a>
                        
                    <% }) %>
                <% } %>
            </div>
        </div>
        <div class="pagination">
            <% if (info.prev) { %>
                <a href="/<%= currentPage - 1 %>#characters">Previous</a>
            <% } %>
            <% if (info.next) { %>
                <a href="/<%= currentPage + 1 %>#characters">Next</a>
            <% } %>
        </div>
        
    </section>
<%- include("partials/footer.ejs") %>
        
